@{
    ViewBag.Title = "Nosotros";
}

<!-- Fonts and Styles -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/Content/styles.css" />

<!-- Main Content -->
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        La aplicación 'Búsqueda de Inteligencias Artificiales' es una herramienta diseñada para facilitar el acceso y descubrimiento de tecnologías de inteligencia artificial (IA) en un solo lugar. Con una interfaz intuitiva y amigable, los usuarios pueden buscar por nombre diferentes soluciones de IA y visualizar sus detalles, incluyendo la descripción, tipo de IA, empresa creadora y el año de lanzamiento. La aplicación ofrece una lista de resultados de búsqueda y, al seleccionar una opción, se muestra la información completa al lado, lo que permite una navegación rápida y eficiente.
    </p>
</main>
