@{
    ViewBag.Title = "Contacto";
}

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/Content/styles.css" />

<main aria-labelledby="title">
    <h3>@ViewBag.Message</h3>

    <address>
        Juan Camilo Castaño Ocampo:
        <div><a href="mailto:Support@example.com">juan.castano39152@ucaldas.edu.co</a><br /></div>
    </address>
    <address>
        Alejandro Gil Llano:
        <div><a href="mailto:Support@example.com">alejandro.gil42498@ucaldas.edu.co</a><br /></div>
    </address>
    <address>
        Daniel Salazar Castañeda:
        <div><a href="mailto:Support@example.com">daniel.salazar41140@ucaldas.edu.co</a><br /></div>
    </address>
    <address>
        Juanita Martínez Gutiérrez:
        <div><a href="mailto:Support@example.com">juanita.martinez34933@ucaldas.edu.co</a><br /></div>
    </address>
    <address>
        Maria José Cordón Vasco:
        <div><a href="mailto:Support@example.com">maria.cordon37783@ucaldas.edu.co</a><br /></div>
    </address>
</main>